<section class="con container-fluid d-flex flex-column justify-content-start">
    <div class="asd row d-flex align-items-center">
        <div class="col-6 d-flex">
            <select id="Jaime" class="form-control" aria-label="Default select example">
                <option selected style="display: none;">SELECCIONA FORMACION</option>
            </select>
        </div>
        <div class="cosas col-6 d-flex justify-content-end">
            <button class="btn btn-primary"> DESCARGAR </button>
            <div class="input-group flex-nowrap w-50">
                <input type="text" class=" teamName form-control" placeholder="Nombre de equipo"
                    aria-label="Nombre de equipo" aria-describedby="addon-wrapping">
            </div>
        </div>
    </div>
</section>

<div class="hero container-fluid d-flex flex-column align-items-center">
    <div class="row d-flex align-items-center">
        <div class="Parte-Jaime col-8">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nobis dolorum assumenda facere sunt ratione
            debitis
            doloremque officia pariatur. Ad minus doloremque, perferendis quaerat eaque earum praesentium asperiores
            repellendus a!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, voluptas. Sit optio maiores et excepturi
            dignissimos iste, vero esse totam doloribus unde facilis quisquam ipsum doloremque laboriosam cumque nobis
            consequuntur!
        </div>
        <app-selector class="col-4"> </app-selector>
    </div>
</div>