<div class="inicio-container">
  <div class="superior">
    <div class="izquierda">
      
      <img src="assets/imagen5.jpg" alt="Imagen de alineación" class="imagen-alineacion">
    </div>
    <div class="derecha">
      <p>Gracias a Line Up podras divertirte generando las mejores alineaciones
        de futbol con los equipos de la liga española. Elige la formación, puedes
        elegir las mas random, elige un equipo y de ahí arrastra a los diferentes 
        jugadores a sus posiciones. ¡Que no se te olvide escribir el nombre de tu 
        equipo! ¿A qué esperas? Juega con Line Up y se el master of the futbol.</p>
      <button (click)="irACrear()"> Ir a Crear</button>
    </div>
  </div>
    <div class="galeria">
    <img src="assets/imagen1.jpg" alt="Imagen 1" class=".galeria img">
    <img src="assets/imagen2.jpg" alt="Imagen 2">
    <img src="assets/imagen3.jpg" alt="Imagen 3">
    <img src="assets/imagen4.jpg" alt="Imagen 4">
  </div>
</div>