.inicio-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 40px;
}

.superior {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  /* border: 2px solid purple; */
}

.row {
  /* border: 2px solid pink; */
}

.izquierda,
.derecha {
  flex: 1;
  /* border: 2px solid blue; */
}

.imagen-alineacion {
  width: 100%;
  max-width: 300px;
  margin-top: 0px;
  /* border: 2px solid green; */
}

.derecha p {
  font-size: 18px;
  margin-bottom: 10px;
  /* border: 2px solid red; */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.galeria {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.galeria img {
  width: 100%;
  max-width: 23%;
  object-fit: cover;
  border-radius: 8px;
}
